.main-sidebar {
	padding-top: 0px;
}

.sidebar-menu .treeview-menu {
	padding-left: 0px;
}

ul.fancytree-container {
    background-color: #fff;
    border: none;
    overflow: auto;
    min-height: 0;
    position: relative;
    box-shadow: none!important;
    outline: none!important;
}

#preview {
	background-image: url(preview-bg.png);
	width: 100%;
	padding: 15px;
	min-height: 120px;
}
#preview-img-wrapper {
	position: relative;
}
#preview-img {
	max-width: 100%;
}

#sprite-list {
	background-color: #fff;
	height: 300px;
}

#main-window {
	position: relative;
}

#canvas {
	position: absolute;
	width: 1366px;
	height: 768px;
	top: 50%;
	margin-left: -683px;
	left: 50%;
	margin-top: -384px;
	overflow: hidden;
}

#on-canvas-preview {
	position: absolute;
	background-color: rgba(255,255,255,0.1);
	transition: opacity 0.125s ease;
	opacity: 0;
}